.header {
    background: url('../img/bgtrongdong.jpg');
    background-position: center;
}

/* Nút toggle */
.navbar-toggler {
    position: relative;
    margin-bottom: 10%;
}

/* Thanh menu */
nav.navbar {
    display: flex;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

/* Khi thu nhỏ màn hình, hiển thị menu theo chiều dọc */
@media (max-width: 991px) {
    .navbar-nav {
        flex-direction: column;
        text-align: left; /* Căn trái khi menu mở */
    }

    .navbar-nav .nav-item {
        padding: 10px 15px;
    }
}

.navbar-nav .nav-link {
    color: white;
    transition: color 0.3s ease-in-out;
    margin: 0;
}

.nav:hover {
    background-color: brown;
}

/* Đăng nhập, đăng ký */
.navbar-nav .auth-link {
    color: black;
}

.navbar-nav .auth-link:hover {
    color: rgb(215, 25, 32);
}

/*Tìm kiếm*/
.search-box {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
}

.search-box .btn {
    white-space: nowrap;
}

.form-control {
    width: 400px;
}
@media (max-width: 1100px) {
    .search-box {
        display: none !important;
    }
}

/*footer*/
footer {
    border-top: 2px solid brown;
    background: url('../img/bgtrongdong.jpg');
    background-position: center;
    text-align: center;
    justify-content: center;
}

